<div>
  <script>
    function enviarFormulario() {
      var formData = {
        descricao: $("#descricao").val(),
        unidade: $("#unidade").val(),
        preco: $("#preco").val(),
        ncm: $("#ncm").val(),
        observacao: $("#observacao").val(),
        ativo: $("#gridCheck").prop("checked"),
      };

      $.ajax({
        url: "/api/produtos",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(formData),
        success: function (response) {
          console.log("sucesso ao salvar");
          bloquearBotaoLimparCampos();
          exibirAlerta();
          $(".text-danger").empty();
        },
        error: function (xhr, status, error) {
          // Lógica de tratamento de erro

          if (xhr.responseJSON) {
            // Verifica se a resposta contém mensagens de erro
            var errors = xhr.responseJSON; // Alteração aqui

            if (errors) {
              exibirMensagensErro(errors);
            } else {
              exibirAlertaErro();
            }
          } else {
            exibirAlertaErro();
          }
        },
      });
    }
  </script>

  <!-- exibe erros -->
  <script>
    function exibirMensagensErro(errors) {
      // Limpa mensagens de erro anteriores
      $(".text-danger").empty();

      // Exibe as novas mensagens de erro
      $.each(errors, function (campo, mensagem) {
        // Exibe a mensagem diretamente no Thymeleaf
        $("#" + campo + "-error").text(mensagem);
      });
    }
  </script>

  <!-- Seu script para exibir o alerta após o salvamento -->
  <script>
    // Função para exibir o alerta de sucesso
    function exibirAlerta() {
      $("#alertaSucesso").fadeIn().delay(3000).fadeOut(); // Exibe o alerta por 3 segundos e depois o oculta
    }
    function exibirAlertaErro() {
      $("#alertaErro").fadeIn().delay(3000).fadeOut(); // Exibe o alerta por 3 segundos e depois o oculta
    }
  </script>

  <!-- Função para bloquear o botão e limpar os campos após o salvamento -->
  <script>
    function bloquearBotaoLimparCampos() {
      // Bloqueia o botão
      $("#meuBotaoDeSalvar").prop("disabled", true);

      // Limpa os campos do formulário
      $("#meuFormulario :input").val("");

      // Desbloqueia o botão após 3 segundos (você pode ajustar o tempo conforme necessário)
      setTimeout(function () {
        $("#meuBotaoDeSalvar").prop("disabled", false);
      }, 3000);
    }
  </script>

  <!-- Script JavaScript -->
  <script th:inline="javascript">
    var produto = /*[[${produto}]]*/ {};

    // Preencher os campos do formulário com os dados do produto
    document.getElementById("descricao").value = produto.descricao;
    document.getElementById("unidade").value = produto.unidade;
    document.getElementById("preco").value = produto.preco;
    document.getElementById("ncm").value = produto.ncm;
    document.getElementById("observacao").value = produto.observacao;
  </script>
</div>
