<script>
    $(document).ready(async function() {
    let dadosOriginais;

    try {
        // Fazer uma requisição à sua API
        const response = await $.ajax({
            url: '/api/produtos',
            type: 'GET',
            dataType: 'json'
        });

        dadosOriginais = response;
        preencherTabela(response);
        atualizarExibicaoTabela(response);
    } catch (error) {
        console.error('Erro na requisição à API:', error);
    }

    $('#campoPesquisa').on('input', function() {
        pesquisar();
    });

    $('#botao-pesquisa').click(function() {
        console.log('pesquisando');
        pesquisarPorNome();
    });

    function preencherTabela(dados) {
        const tbody = $('#tabelaDados tbody');
        tbody.empty();

        dados.forEach(function(dado) {
            const row = $('<tr class="align-middle">');
            row.append(`<td scope="row"><a href="/produto/${dado.id}">${dado.id}</a></td>`);
            row.append(`<td>${dado.ativo ? '<span class="badge bg-success">Ativo</span>' : '<span class="badge bg-danger">Inativo</span>'}</td>`);
            row.append(`<td>${dado.unidade}</td>`);
            row.append(`<td><a href="/produto/${dado.id}" class="text-primary">${dado.descricao}</a></td>`);
            row.append(`<td>${formatarPreco(dado.preco)}</td>`);
            row.append(`<td>${dado.ncm}</td>`);
            row.append(`<td>${dado.observacao || ''}</td>`);

                // Coluna de botões
            row.append(`
                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <a href="#" class="btn btn-outline-primary" onclick="editarProduto(${dado.id})">Editar</a>
                        <a href="produto/edicao/${dado.id}" class="btn btn-outline-primary" onclick="exibirProduto(${dado.id})">Exibir</a>
                        <a href="" class="btn btn-outline-danger" onclick="deletarProduto(${dado.id})">Deletar</a>
                    </div>
                </td>
            `);

            tbody.append(row);
        });
    }

    function pesquisar() {
        const termoPesquisa = $('#campoPesquisa').val().toLowerCase();
        const dadosFiltrados = dadosOriginais.filter(function(item) {
            return (
                item.id.toString().includes(termoPesquisa) ||
                item.unidade.toLowerCase().includes(termoPesquisa) ||
                item.descricao.toLowerCase().includes(termoPesquisa) ||
                formatarPreco(item.preco).includes(termoPesquisa) ||
                item.ncm.includes(termoPesquisa) ||
                (item.observacao && item.observacao.toLowerCase().includes(termoPesquisa)) ||
                (item.ativo ? 'ativo' : 'inativo').includes(termoPesquisa)
            );
        });
        preencherTabela(dadosFiltrados);
        atualizarExibicaoTabela(dadosFiltrados);
    }

    function pesquisarPorNome() {
        const parteNome = $('#campoPesquisa').val();
        $.ajax({
            url: '/api/produtos/pesquisar',
            type: 'GET',
            data: { parteNome: parteNome },
            dataType: 'json',
            success: function(data) {
                preencherTabela(data);
                atualizarExibicaoTabela(data);
            },
            error: function(error) {
                console.error('Erro na requisição à API:', error);
            }
        });
    }

    function formatarPreco(preco) {
        return new Intl.NumberFormat('pt-BR', {
            style: 'currency',
            currency: 'BRL',
            minimumFractionDigits: 4
        }).format(preco);
    }

    function atualizarExibicaoTabela(dados) {
        const tabelaVazia = dados.length === 0;
        $('#tabelaDados').toggle(!tabelaVazia);
        $('#mensagemTabelaVazia').toggle(tabelaVazia);
    }

    function editarProduto(id) {
    // Redirecionar para a página de edição com o ID do produto
    console.log(id)
    window.location.href = '/produto/edicao/' + id;
}

});

</script>