<div>

    <script>
        function enviarFormulario() {
        console.log('aqui');
            var formData = {
                descricao: $("#descricao").val(),
                unidade: $("#unidade").val(),
                preco: $("#preco").val(),
                ncm: $("#ncm").val(),
                observacao: $("#observacao").val(),
                ativo: $("#gridCheck").prop("checked")
            };

            $.ajax({
                url: '/api/produtos',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
               console.log('sucesso');
               bloquearBotaoLimparCampos();
               exibirAlerta();

                },
                error: function (error) {
                    console.error('Erro:', error);
                }
            });
        }
    </script>





<!-- Seu script para exibir o alerta após o salvamento -->
<script>
    // Função para exibir o alerta de sucesso
    function exibirAlerta() {
        $('#alertaSucesso').fadeIn().delay(3000).fadeOut(); // Exibe o alerta por 3 segundos e depois o oculta
    }
  
    // Simulação de salvamento bem-sucedido (chame isso quando a operação de salvamento for bem-sucedida)
    // function simularSalvamentoBemSucedido() {
    //     // Aqui você pode adicionar a lógica real de salvamento do produto
    //     // Por enquanto, só estamos chamando a função para exibir o alerta
    //     exibirAlerta();
    // }
  
    // // Chame a função de simulação de salvamento bem-sucedido após um evento de clique (simulando um salvamento)
    // $('#meuBotaoDeSalvar').on('click', function () {
    //     simularSalvamentoBemSucedido();
    // });
  
    // Se você quiser mostrar o formulário depois do salvamento (outras opções podem ser implementadas conforme necessário)
    // Comente a linha abaixo se você quiser manter o formulário oculto após o salvamento
    // $('#meuFormulario').show();
  </script>

  <script>
     // Função para bloquear o botão e limpar os campos após o salvamento
     function bloquearBotaoLimparCampos() {
        // Bloqueia o botão
        $('#meuBotaoDeSalvar').prop('disabled', true);

        // Limpa os campos do formulário
        $('#meuFormulario :input').val('');

        // Desbloqueia o botão após 3 segundos (você pode ajustar o tempo conforme necessário)
        setTimeout(function () {
            $('#meuBotaoDeSalvar').prop('disabled', false);
        }, 3000);
    }
  </script>
</div>