<!-- src/main/resources/templates/hello.html -->

<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- Incluindo o fragmento de head -->
<th:block th:replace="fragments/head :: head"></th:block>
<body>
<!-- Incluindo o fragmento de cabeçalho -->
<th:block th:replace="fragments/header"></th:block>

<!-- Incluindo o fragmento de sidebar -->
<th:block th:replace="fragments/sidebar"></th:block>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Blank Page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Blank</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Example Card</h5>
            <p>
              This is an examle page with no contrnt. You can use it as a
              starter for your custom pages.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Example Card</h5>
            <p>
              This is an examle page with no contrnt. You can use it as a
              starter for your custom pages.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        tempore aliquid quisquam iusto, obcaecati expedita ex atque
        reprehenderit ea velit modi quo corrupti dignissimos in! Modi
        voluptas id tenetur earum. Sit repellendus sed tenetur? Cumque,
        incidunt pariatur commodi eveniet debitis quas mollitia eligendi!
        Consequuntur, soluta delectus blanditiis nobis corporis minus libero
        natus fugit, similique quo aperiam ea eum quia recusandae error
        deserunt iure, cum itaque laborum quasi? Alias eos soluta, ducimus
        libero aliquam dolor quaerat numquam. Repellat quod alias, ducimus
        rerum nam laudantium iste illum, obcaecati aspernatur necessitatibus
        ab, reprehenderit assumenda quos delectus? Ex nihil ab aperiam nemo
        magnam recusandae itaque commodi quia, natus esse officiis corrupti
        possimus consequatur repudiandae labore, corporis delectus
        exercitationem, pariatur inventore molestiae consectetur! Molestiae
        earum odit, vitae odio suscipit fuga quaerat itaque sint laboriosam
        similique obcaecati eveniet sapiente libero pariatur culpa dolor
        ullam aperiam porro. Magni, non est. Numquam ratione maxime id vero
        magnam expedita inventore dolor quaerat voluptatum. Nesciunt
        temporibus optio cumque voluptas sunt eos adipisci sed mollitia
        alias dolorem. Et obcaecati quae a aut dolor atque ducimus vitae
        totam deserunt laboriosam, voluptates debitis facere dolorum cumque
        distinctio. Error nesciunt accusamus voluptatum ab repellat tempora
        voluptas blanditiis velit odit, recusandae dolores nobis commodi
        neque molestias ut excepturi earum cumque eligendi incidunt, modi
        soluta. Dolor commodi, illum id et dignissimos voluptates vitae ut
        nesciunt animi impedit ex distinctio cumque, asperiores temporibus!
        Minima distinctio, illum necessitatibus atque nihil deserunt ut quis
        cumque autem numquam praesentium, voluptates dolorem natus
        repudiandae iure, odio quia. Eius quasi maxime in error iste!
        Deserunt distinctio consequatur quaerat totam veniam ipsam soluta
        ullam ducimus reprehenderit tenetur iusto ratione consequuntur, eos
        odit cum, facere ipsa quo. Delectus aut maxime ab debitis quos
        tenetur ipsa possimus ut animi placeat rem vel nemo veritatis
        aspernatur optio temporibus molestias nostrum obcaecati qui,
        accusantium consequatur! Deserunt voluptate modi assumenda dolorem
        id necessitatibus perspiciatis! Ullam modi quibusdam facilis alias
        molestiae ducimus eaque voluptates nobis eius repellat maxime,
        corrupti assumenda quae harum reiciendis totam quia commodi iusto
        corporis in. Est beatae corrupti inventore quia praesentium
        reiciendis aliquid rerum? Aspernatur modi rerum libero! Iusto,
        veritatis aliquam. Obcaecati expedita nihil ut quaerat accusamus
        unde id possimus quidem ipsam. Similique aut ipsa aliquam
        architecto, amet ullam temporibus blanditiis harum eligendi modi
        alias, quo saepe, recusandae vitae iure! Laboriosam ducimus animi
        nisi consequatur itaque, assumenda officiis, blanditiis maiores
        expedita cupiditate tempora dignissimos numquam aperiam? Laudantium
        laborum aspernatur cumque? Recusandae cum, sapiente tempore natus
        saepe ducimus, placeat dolorum consectetur quam debitis quasi facere
        commodi repudiandae iure sint obcaecati quas, tenetur ratione!
        Pariatur omnis explicabo sit dolore nemo quisquam, similique magni
        iusto atque! Odit vitae cum ipsum itaque magnam doloribus
        consectetur exercitationem adipisci laborum! Nam provident in dolor
        laudantium dolores, architecto asperiores voluptates facilis optio
        explicabo magnam corporis, porro itaque tempore consectetur illo
        quaerat repellat fugit accusantium accusamus natus. Nobis illo
        expedita ad deserunt, assumenda placeat aliquam excepturi earum at
        facilis labore sapiente odit praesentium, modi dolores tenetur
        soluta voluptate eveniet consequatur? Explicabo quis accusantium, ad
        cum totam cupiditate delectus amet, maiores veritatis, fugit maxime.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        tempore aliquid quisquam iusto, obcaecati expedita ex atque
        reprehenderit ea velit modi quo corrupti dignissimos in! Modi
        voluptas id tenetur earum. Sit repellendus sed tenetur? Cumque,
        incidunt pariatur commodi eveniet debitis quas mollitia eligendi!
        Consequuntur, soluta delectus blanditiis nobis corporis minus libero
        natus fugit, similique quo aperiam ea eum quia recusandae error
        deserunt iure, cum itaque laborum quasi? Alias eos soluta, ducimus
        libero aliquam dolor quaerat numquam. Repellat quod alias, ducimus
        rerum nam laudantium iste illum, obcaecati aspernatur necessitatibus
        ab, reprehenderit assumenda quos delectus? Ex nihil ab aperiam nemo
        magnam recusandae itaque commodi quia, natus esse officiis corrupti
        possimus consequatur repudiandae labore, corporis delectus
        exercitationem, pariatur inventore molestiae consectetur! Molestiae
        earum odit, vitae odio suscipit fuga quaerat itaque sint laboriosam
        similique obcaecati eveniet sapiente libero pariatur culpa dolor
        ullam aperiam porro. Magni, non est. Numquam ratione maxime id vero
        magnam expedita inventore dolor quaerat voluptatum. Nesciunt
        temporibus optio cumque voluptas sunt eos adipisci sed mollitia
        alias dolorem. Et obcaecati quae a aut dolor atque ducimus vitae
        totam deserunt laboriosam, voluptates debitis facere dolorum cumque
        distinctio. Error nesciunt accusamus voluptatum ab repellat tempora
        voluptas blanditiis velit odit, recusandae dolores nobis commodi
        neque molestias ut excepturi earum cumque eligendi incidunt, modi
        soluta. Dolor commodi, illum id et dignissimos voluptates vitae ut
        nesciunt animi impedit ex distinctio cumque, asperiores temporibus!
        Minima distinctio, illum necessitatibus atque nihil deserunt ut quis
        cumque autem numquam praesentium, voluptates dolorem natus
        repudiandae iure, odio quia. Eius quasi maxime in error iste!
        Deserunt distinctio consequatur quaerat totam veniam ipsam soluta
        ullam ducimus reprehenderit tenetur iusto ratione consequuntur, eos
        odit cum, facere ipsa quo. Delectus aut maxime ab debitis quos
        tenetur ipsa possimus ut animi placeat rem vel nemo veritatis
        aspernatur optio temporibus molestias nostrum obcaecati qui,
        accusantium consequatur! Deserunt voluptate modi assumenda dolorem
        id necessitatibus perspiciatis! Ullam modi quibusdam facilis alias
        molestiae ducimus eaque voluptates nobis eius repellat maxime,
        corrupti assumenda quae harum reiciendis totam quia commodi iusto
        corporis in. Est beatae corrupti inventore quia praesentium
        reiciendis aliquid rerum? Aspernatur modi rerum libero! Iusto,
        veritatis aliquam. Obcaecati expedita nihil ut quaerat accusamus
        unde id possimus quidem ipsam. Similique aut ipsa aliquam
        architecto, amet ullam temporibus blanditiis harum eligendi modi
        alias, quo saepe, recusandae vitae iure! Laboriosam ducimus animi
        nisi consequatur itaque, assumenda officiis, blanditiis maiores
        expedita cupiditate tempora dignissimos numquam aperiam? Laudantium
        laborum aspernatur cumque? Recusandae cum, sapiente tempore natus
        saepe ducimus, placeat dolorum consectetur quam debitis quasi facere
        commodi repudiandae iure sint obcaecati quas, tenetur ratione!
        Pariatur omnis explicabo sit dolore nemo quisquam, similique magni
        iusto atque! Odit vitae cum ipsum itaque magnam doloribus
        consectetur exercitationem adipisci laborum! Nam provident in dolor
        laudantium dolores, architecto asperiores voluptates facilis optio
        explicabo magnam corporis, porro itaque tempore consectetur illo
        quaerat repellat fugit accusantium accusamus natus. Nobis illo
        expedita ad deserunt, assumenda placeat aliquam excepturi earum at
        facilis labore sapiente odit praesentium, modi dolores tenetur
        soluta voluptate eveniet consequatur? Explicabo quis accusantium, ad
        cum totam cupiditate delectus amet, maiores veritatis, fugit maxime.
      </p>
    </div>
  </section>
</main>
<!-- End #main -->

<!-- Incluindo o fragmento de footer -->
<th:block th:replace="fragments/footer"></th:block>

<a       href="#"
        class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>

<!-- Incluindo o fragmento de script -->
<th:block th:replace="fragments/script"></th:block>
</body>
</html>
