<!-- src/main/resources/templates/hello.html -->

<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- Incluindo o fragmento de head -->
<th:block th:replace="~{fragments/head}"></th:block>
<body>
<!-- Incluindo o fragmento de cabeçalho -->
<th:block th:replace="~{fragments/header}"></th:block>

<!-- Incluindo o fragmento de sidebar -->
<th:block th:replace="~{fragments/sidebar}"></th:block>

<main id="main" class="main" style="height: 80vh; ">
    <div class="pagetitle">
        <h1>Cadastro de produto</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Produto</li>
                <li class="breadcrumb-item active">Cadastro</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Formulário de cadastro de produto</h5>

                <!-- Alerta de sucesso (inicialmente oculto) -->
                <div id="alertaSucesso" class="alert alert-success alert-dismissible fade show" role="alert"
                     style="display: none;">
                    <i class="bi bi-check-circle me-1"></i>
                    Produto salvo com sucesso!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- Alerta de erro (inicialmente oculto) -->
                <div id="alertaErro" class="alert alert-danger alert-dismissible fade show" role="alert"
                     style="display: none;">
                    <i class="bi bi-check-circle me-1"></i>
                    Houve um erro!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <form class="row g-3" id="meuFormulario">
                    <div class="col-md-12">
                        <label for="descricao" class="form-label">Produto descrição</label>
                        <input type="text" class="form-control" id="descricao" name="descricao">
                        <span id="descricao-error" class="text-danger"> </span>
                    </div>
                    <div class="col-md-6">
                        <label for="unidade" class="form-label">Unidade</label>
                        <input type="text" class="form-control" id="unidade" name="unidade">
                        <span id="unidade-error" class="text-danger"> </span>
                    </div>
                    <div class="col-md-3">
                        <label for="preco" class="form-label">Preço</label>
                        <input type="number" class="form-control" id="preco" name="preco" step="0.0001"
                               pattern="\d+(\.\d{1,2})?" title="Informe um valor numérico com até duas casas decimais">
                        <span id="preco-error" class="text-danger"> </span>
                    </div>
                    <div class="col-md-3">
                        <label for="ncm" class="form-label">Ncm</label>
                        <input type="number" class="form-control" id="ncm" name="ncm">
                        <span id="ncm-error" class="text-danger"> </span>
                    </div>

                    <div class="col-12">
                        <label for="observacao" class="form-label">Observação</label>
                        <textarea class="form-control" placeholder="observação" id="observacao" name="observacao"
                                  style="height: 100px;"></textarea>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                            <label class="form-check-label" for="gridCheck">
                                Ativo
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="enviarFormulario()"
                                id="meuBotaoDeSalvar">Salvar
                        </button>
                        <button type="reset" class="btn btn-secondary">Cancelar</button>
                    </div>
                </form>
                <div class="col-12">
                    <a class="btn btn-primary" th:href="@{/produto}">Lista de produtos</a>
                </div>
            </div>

        </div>
    </section>
</main>
<!-- End #main -->


<!-- Incluindo o fragmento de footer -->
<th:block th:replace="~{fragments/footer}"></th:block>

<a href="#"
   class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>

<!-- Incluindo o fragmento de script -->
<th:block th:replace="~{fragments/script}"></th:block>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<th:block th:replace="~{fragments/script-produto-cadastro}"></th:block>

</body>
</html>
